<?xml version="1.0"?>
<!--
/**
 * @category   Auguria
 * @package    Auguria_Video
 * @author     Auguria
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Auguria_Video>
            <version>0.0.3</version>
        </Auguria_Video>
    </modules>
    <frontend>
        <routers>
            <video>
                <use>standard</use>
                <args>
                    <module>Auguria_Video</module>
                    <frontName>video</frontName>
                </args>
            </video>
        </routers>
        <translate>
            <modules>
                <Auguria_Video>
                    <files>
                        <default>Auguria_Video.csv</default>
                    </files>
                </Auguria_Video>
            </modules>
        </translate>
        <layout>
            <updates>
                <auguria_video>
                    <file>auguria/video.xml</file>
                </auguria_video>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <auguria_video before="Mage_Adminhtml">Auguria_Video_Adminhtml</auguria_video>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
    <adminhtml>
        <translate>
            <modules>
                <Auguria_Video>
                    <files>
                        <default>Auguria_Video.csv</default>
                    </files>
                </Auguria_Video>
            </modules>
        </translate>
        <layout>
            <updates>
                <auguria_video>
                    <file>auguria/video.xml</file>
                </auguria_video>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <auguria_video>
                <class>Auguria_Video_Model</class>
                <resourceModel>auguria_video_mysql4</resourceModel>
            </auguria_video>
            <auguria_video_mysql4>
                <class>Auguria_Video_Model_Mysql4</class>
                <entities>
                    <video>
                        <table>auguria_video</table>
                    </video>
                </entities>
            </auguria_video_mysql4>
        </models>
        <resources>
            <auguria_video_setup>
                <setup>
                    <module>Auguria_Video</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </auguria_video_setup>           
            <auguria_video_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </auguria_video_write>
            <auguria_video_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </auguria_video_read>
        </resources>
        <blocks>
            <auguria_video>
                <class>Auguria_Video_Block</class>
            </auguria_video>
        </blocks>
        <helpers>
            <auguria_video>
                <class>Auguria_Video_Helper</class>
            </auguria_video>
        </helpers>
    </global>
    <default>
		<auguria_video>
           	<sizes>
           		<video_player_width>560</video_player_width>
           		<video_player_height>315</video_player_height>
           		<preview_list_width>328</preview_list_width>
           		<preview_list_height>172</preview_list_height>
           		<preview_home_width>425</preview_home_width>
           		<preview_home_height>239</preview_home_height>
           		<preview_product_width>96</preview_product_width>
           		<preview_product_height>121</preview_product_height>
           	</sizes>
		</auguria_video>
	</default>
</config>